# Terraform state files
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/

# Crash log
crash.log

# Terraform variable files (optional)
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json